In [1]:
timespan = '66months'
rollingAverage = '1hour'
start = '2012-01-00'
sampled = 'false'

global totalled_df
global url
url = 'https://api.blockchain.info/charts/'

In [2]:
def create_df(url, chartName):
    url += chartName
    params = dict(
        timespan = timespan,
        rollingAverage = rollingAverage,
        start = start, 
        sampled = sampled,
    )
    resp = requests.get(url=url, params=params)
    data = json.loads(resp.text)
#     print(json.dumps(data, indent=4, sort_keys=True))
    data = data['values']
    df = pd.DataFrame(data)
    df.set_index('x', inplace=True)
    df.columns =[chartName]
    return df

In [3]:
def concat_df(all_df, new_df):
    all_df = pd.concat([all_df, new_df], axis=1, join_axes=[all_df.index])
#     totalled_df.T.drop_duplicates().T    
    all_df = all_df.loc[:,~all_df.columns.duplicated()]
    return all_df

***BLOCK DETAILS***

In [4]:
import json, requests
import pandas as pd

df = create_df(url, 'avg-block-size')

totalled_df = df

In [5]:
df = create_df(url, 'n-transactions-per-block')

totalled_df = concat_df(totalled_df, df)

In [6]:
df = create_df(url, 'median-confirmation-time')

totalled_df = concat_df(totalled_df, df)

***MINING INFORMATION***

In [7]:
df = create_df(url, 'hash-rate')

totalled_df = concat_df(totalled_df, df)

In [8]:
# miners revenue ((number of BTC mined/day * market price) + transaction fees)
df = create_df(url, 'miners-revenue') # check that this is the above

totalled_df = concat_df(totalled_df, df)

In [9]:
df = create_df(url, 'transaction-fees-usd')

totalled_df = concat_df(totalled_df, df)

In [10]:
df = create_df(url, 'cost-per-transaction-percent')

totalled_df = concat_df(totalled_df, df)

In [11]:
# cost per transaction percent (miner revenue divivded by the number of transactions)
df = create_df(url, 'cost-per-transaction')

totalled_df = concat_df(totalled_df, df)

***NETWORK ACTIVITY***

In [12]:
df = create_df(url, 'n-unique-addresses')

totalled_df = concat_df(totalled_df, df)

In [13]:
df = create_df(url, 'n-transactions')

totalled_df = concat_df(totalled_df, df)

In [14]:
df = create_df(url, 'transactions-per-second')

totalled_df = concat_df(totalled_df, df)

In [15]:
df = create_df(url, 'mempool-count')

totalled_df = concat_df(totalled_df, df)

In [16]:
df = create_df(url, 'mempool-growth')

totalled_df = concat_df(totalled_df, df)

In [17]:
df = create_df(url, 'mempool-size')

totalled_df = concat_df(totalled_df, df)

In [18]:
df = create_df(url, 'utxo-count')

totalled_df = concat_df(totalled_df, df)

In [19]:
df = create_df(url, 'n-transactions-excluding-popular')

totalled_df = concat_df(totalled_df, df)

In [20]:
df = create_df(url, 'output-volume')

totalled_df = concat_df(totalled_df, df)

In [21]:
# Number of Transactions Excluding Popular Addresses

In [22]:
df = create_df(url, 'estimated-transaction-volume-usd')

totalled_df = concat_df(totalled_df, df)

***CURRENCY STATISTICS***

In [23]:
df = create_df(url, 'market-cap')

totalled_df = concat_df(totalled_df, df)

In [24]:
df = create_df(url, 'trade-volume')

totalled_df = concat_df(totalled_df, df)

In [25]:
df = create_df(url, 'market-price')

totalled_df = concat_df(totalled_df, df)

In [48]:
totalled_df.head()

,avg-block-size,n-transactions-per-block,median-confirmation-time,hash-rate,miners-revenue,transaction-fees-usd,cost-per-transaction-percent,cost-per-transaction,n-unique-addresses,n-transactions,...,mempool-count,mempool-growth,mempool-size,utxo-count,n-transactions-excluding-popular,output-volume,estimated-transaction-volume-usd,market-cap,trade-volume,market-price
x,,,,,,,,,,,,,,,,,,,,,
1325376000,0.01,37.0,15.05,8.59,38755.59,16.75,4.41,8.56,7701,4523,...,NaN,NaN,NaN,1106397,3052,303512.40,878045.0,41639000.00,559551.44,5.20
1325462400,0.01,34.0,15.56,8.76,41826.73,28.63,7.35,7.20,9669,5809,...,NaN,NaN,NaN,1106198,4239,295186.11,568334.0,44082248.49,362565.25,5.49
1325548800,0.01,39.0,13.61,9.34,42875.44,30.59,9.59,7.73,9207,5544,...,NaN,NaN,NaN,1104959,3966,244250.93,446936.0,42442728.00,624696.97,5.29
1325635200,0.01,37.0,13.61,8.87,43246.99,79.71,6.49,7.67,9255,5636,...,NaN,NaN,NaN,1104709,4012,338482.00,665796.0,45023634.67,694588.70,5.60
1325721600,0.02,45.0,14.11,8.47,47064.64,35.51,3.48,6.80,11542,6917,...,NaN,NaN,NaN,1104533,5125,673601.09,1350623.0,51436761.75,1145784.67,6.39

In [46]:
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

plt.figure(); totalled_df.plot();

In [47]:
# df.plot(x=', y='market-price')

totalled_df.plot(x=totalled_df.index, y='market-price')